{{#each comments}}
<div class="row">
    <div class="card col-sm-12 col-md-10 col-lg-10 item-center my-1">
        <div class="">
            <img class="" src="{{user_image}}" alt="">
        </div>
        <div class="col-sm-12 col-md-8 col-lg-12">
            <h4>{{user_name}}</h4>
            <p>"{{comment}}"</p>
        </div>
    </div>
</div>

{{/each}}




{{!-- <div class="row item-center">
    <div class="card my-1 col-sm-12 col-md-6 col-lg-6">
        <p></p>



        <p>{{date}}</p>

    </div>
</div> --}}