<form action="/newComment/{{img_id}}" method='post'>
  <div class="image-comment-name">
    <label>Name
      <input type="text" name="name">
    </label>
  </div>

<div class="image-comment-userImg">
    <label>Your picture
      <input type="text" name="userImg">
    </label>
  </div>

  <div class="image-comment-content">
    <label>Content
      <textarea type="text" name="comment"></textarea>
    </label>
  </div>
  <input type="submit" value="Submit">
</form>