<div class="image-comment-container">
<form action="/newComment/{{img_id}}" method='post'>
  <div class="image-comment-name">
    <label>Name</label>
      <input type="text" name="name">
    
  </div>

<div class="image-comment-userImg">
    <label>Your picture</label>
      <input type="text" name="userImg">
    
  </div>

  <div class="image-comment-content">
    <label>Content</label>
      <textarea type="text" name="comment"></textarea>
  </div>
  <input type="submit" value="Submit">
</form>
</div>