<form action="/newComment" method='post'>
  <div class="image-comment-name">
    <label>Name
      <input type="text" name="name">
    </label>
  </div>

  <div class="image-comment-content">
    <label>Content
      <textarea type="text" name="email"></textarea>
    </label>
  </div>
  <input type="submit" value="Submit">
</form>