<form action="/newImage/{{img_id}}" method='post'>
  <div class="image-img-name">
    <label>Image Name
      <input type="text" name="imageName">
    </label>
  </div>

  <div class="image-img-content">
    <label>Image URL
      <input type="text" name="imageURL"></textarea>
    </label>
  </div>

<div class="image-img-content">
    <label>Author Name
      <input type="text" name="authorName"></textarea>
    </label>
  </div>

<div class="image-img-content">
    <label>Author Image
      <input type="text" name="authorURL"></textarea>
    </label>
  </div>

  <input type="submit" value="Submit">
</form>