<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 item-center my1">
        <button id="uploadImageToggle" class="btn">Upload image</button>
    </div>
</div>




<div id="myModal" class="modal hidden">

    <div class="modal-content">
        <div id="closeModal" class="close">
            <i class="far fa-times-circle"></i>
        </div>
        {{>newImageForm}}
    </div>


</div>