<div class="row space-between">
    <div class="col-lg-4 col-md-4 col-sm-4">
        <button id="uploadImageToggle" class="btn">Upload image</button>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
        <p>By Author Name</p>
    </div>
</div>



<div id="myModal" class="modal hidden">

    <div class="modal-content">
        <div id="closeModal" class="close"><i class="far fa-times-circle"></i></div>
        <p>Some text in the Modal..</p>
    </div>


</div>