<form action="/newImage/{{img_id}}" method="post">
  <div>
    <label for="img_url">Image:</label>
    <input type="text" name="img_url" placeholder="Image URL">
  </div>
  <div>
    <label for="img_name">Title:</label>
    <input type="text" name="img_name" placeholder="Image Title">
  </div>
  <div>
    <label for="artist_name">Artist:</label>
    <input type="text" name="artist_name" placeholder="Photographer Name">
  </div>
  <div>
  <label for="artist_url">Bio:</label>
    <input type="text" name="artist_url" placeholder="Profile URL">
  </div>
  <div>
    <button type="submit">Add Image</button>
  </div>

</form>