{{!----------------------------------------------------------- 
 - File:    views/layouts/home.hbs
 - Purpose: Homepage Contents
 - Authors: Anthony McGrath (anthony-kyle)
 -          Matt Saunders   (itsmattsaunders)
 -          Philip Chan     (phil-chan)
 -          Steven DeLacy  (steven-delacy) 
 -----------------------------------------------------------}}
 
<h1>Home</h1>