{{!----------------------------------------------------------- 
 - File:    views/layouts/home.hbs
 - Purpose: Homepage Contents
 - Authors: Anthony McGrath (anthony-kyle)
 -          Matt Saunders   (itsmattsaunders)
 -          Philip Chan     (phil-chan)
 -          Steven DeLacy  (steven-delacy) 
 -----------------------------------------------------------}}

<div class="container">
    <div class="row">
        {{!-- IMAGES WILL GO HERES --}}
    </div>

    {{>modal}}
</div>