<div class="container">
  {{>navbar}}
  {{>modal}}

  {{!-- //Displaying Image with author and date --}}
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 item-center">
      <h2 class="my1">{{img_name}}</h2>
      <div class="image-center">
        <img src="{{img_url}}">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 item-center my1">
      <a href="{{author_url}}">By: {{author_name}}</a>
    </div>
  </div>



  {{!-- Displaying all comments for image --}}


  {{>comments}}



</div>




{{!-- A form for making a new comment --}}
<form action="/newComment" method='post'>
  <div class="image-comment-name">
    <label>Name
      <input type="text" name="name">
    </label>
  </div>

  <div class="image-comment-content">
    <label>Content
      <textarea type="text" name="email"></textarea>
    </label>
  </div>
  <input type="submit" value="Submit">
</form>

</div>